.button{
  display: inline;
  text-align: center;
  border-radius: 4px;
  background: rgba(24, 254, 254, 0.2);
  border: 1px solid #18FEFE;
  color: rgba(255, 255, 255, 0.87);
  padding: 4px 8px;
  font-size: 14px;
  line-height: 14px;
}
.ching{
  background: rgba(24, 254, 254, 0.2);
  border: 1px solid #18FEFE;
}
.deongaree{
  background: rgba(24, 144, 255, 0.2);
  border: 1px solid #1890FF;
}
.orange{
  background: rgba(255, 143, 78, 0.2);
  border: 1px solid #FF8F4E;
}