.table {

  height: 100%;

  .header {
    display: flex;
    background-color: rgba(27, 126, 242, 0.2);
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 8px;

    img {
      height: 12.12px;
      margin: auto 20px auto 9px;
    }

    &:before {
      display: block;
      content: "";
      width: 4px;
      height: 50px;
      background-color: #1B7EF2;
    }
  }

  .thead {
    background-color: #07173D;
    padding: 0 20px;
    color: #6FBAFF;
    font-size: 15px;

    .theadText {
      padding: 7px 0;
      border-bottom: 1px solid #7B86B8;
    }
  }

  .loading {
    text-align: center;
    padding: 24px;
  }

  .tbody {
    height: calc(100% - 50px - 8px - 16px);
    overflow: hidden;
    padding: 16px 0 0;
  }

  .sku {
    padding-bottom: 12px;
  }

  .info {
    display: flex;
    align-items: center;

    div {
      width: 50%;
    }
  }

  .item {
    display: flex;
    padding: 24px;

    .skuInfo {
      flex-grow: 1;
    }
  }

  .other {
    padding-top: 4px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .coding {
    font-size: 20px;
    color: #fff;
  }
}
